<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxd1997.Mapper.UserMapper">
    <select id="findPassword" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT password FROM users where username=#{username}
    </select>
    <update id="min" parameterType="Map">
        update users set balance=balance-#{num} where username=#{username}
    </update>
    <update id="add" parameterType="Map">
        update users set balance=balance+#{num} where username=#{username}
    </update>
    <select id="getBalance" parameterType="java.lang.String" resultType="int">
        select balance from users where username=#{username}
    </select>
</mapper>